/* THEME CARDS & CONTAINERS */
.darkthemeBg {
  background-color: rgb(22, 28, 36) !important;
}

.darkthemeBgCards {
  background-color: rgb(33, 43, 54);
}

.darkthemeBgHover {
  background-color: rgb(33, 43, 54);
  transition: all 0.3s ease-in-out;
}
.darkthemeBgHover:hover {
  background-color: rgb(40, 50, 60);
}

.darkthemeText {
  color: white;
}
